body {
    background-color: lightblue;
}
li {
    display: inline;
}
li a {
    display: inline-block;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 17px;
}
li a:hover {
    background-color: #ddd;
}

th {
    border: 1px solid black;
}
